.menu-main{
	background-size: 410px 100%;
	background-position: right;
}
.menu-main ul{
	margin-bottom: 90px;
}
.menu-main ul li{
	font: 30px/57px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 20px/31px BrandonText-Regular;
}
.services{
	background-size: 100% 85%;
	padding-top: 190px;
}
.services h2{
	font-size: 55px;
	margin-bottom: 130px;
}

.wrap h2::before{
	width: 400px;
	margin-left: -200px;
	bottom: -70px;
	background-size: 400px;
	height: 48px;

}

.services-content, .services .subs-bl{
	vertical-align: top;
}
.service-type-inf div h3{
	font-size:31px;
	width: 435px;
	margin-bottom: 50px;
}
.service-type-inf div p{
	font-size: 24px;
	line-height: 32px;
	width: 435px;
	margin-bottom: 55px;
}
.services-type > div{
	margin: 80px 0 0;
}
.services-type{
	margin-right: 60px;
	padding-right: 60px;
}
.services-type svg{
	width: 240px;
	height: 300px;
}
.service-type-inf{
	width: 435px;
}
.active-inf{
	width: 435px!important;
}
.services-type > div:first-child .click-bl,
.services-type > div:nth-child(3) .click-bl {
    bottom: 0;
    left: 17px;
}
.services-type > div:nth-child(2) .click-bl {
    left: 18px;
}
.click-bl {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    height: 170px;
    opacity: 0;
    position: absolute;
    width: 200px;
}
.edit-ruby{
	margin: 0px -45px 0 !important;
}

.portfolio{
	padding-top: 190px; 
}
.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10), .portfolio a:nth-child(11){
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.portfolio h2{
	font-size: 55px;
	margin-bottom: 92px;
}
.portfolio-inner{
	vertical-align: top;
}
.our-clients{
	padding-top: 190px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 49px;
	margin-bottom: 100px;
}
.ourc{
	background-image: url(../img/our_C2100+.png);
	height: 545px;
}
.contacts{
	padding-top: 160px;
}
.contacts h2{
	font-size: 55px;
	margin-bottom: 110px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 300px;
	width: 300px;
	background-size: 300px;
	margin: 0;
}
.contacts-inner div:before{
	width: 300px;
	height: 300px;
}
.contacts-inner a{
	line-height: 80px;
	font-size: 46px;
	padding: 0 100px;
	margin-top: 60px;
}
.contacts-inner div:nth-child(3){
	margin: 0 70px;
}
footer{
	font-size: 20px;
	line-height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 60px;
	width: 115px;
	background-size: 115px 60px;
	top: -60px;
	margin-left: -57.5px;
}
.arrow-up{
	width: 55px;
	height: 30px;
	background-size: 55px 30px;
	top: -28px;
	margin-left: -27.5px
}