.menu-main{
	background-size: 400px 100%;
	background-position: right;
}
.menu-main ul{
	margin-bottom: 75px;
}
.menu-main ul li{
	font: 25px/51px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 18px/27px BrandonText-Regular;
}