/* .menu-main{
	background-size:100% 100%;
	background-position: right;
	width: 25%;
}
.menu-main ul{
	margin-bottom: 75px;
}
.menu-main ul li{
	font: 25px/51px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 18px/27px BrandonText-Regular;
} */
.services{
	background-size: 105%;
}

.portfolio{
	padding-top: 160px; 
}
.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10), .portfolio a:nth-child(11){
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.portfolio h2{
	font-size: 38px;
	margin-bottom: 80px;
}
.portfolio-inner{
	vertical-align: top;
}

.our-clients{
	padding-top: 145px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 49px;
	margin-bottom: 100px;
}
.ourc{
	background-image: url(../img/our_C1280.png);
	height: 448px;
}
.contacts{
	padding-top: 145px;
}
.contacts h2{
	font-size: 49px;
	margin-bottom: 100px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 270px;
	width: 270px;
	background-size: 270px;
	margin: 0;
}
.contacts-inner div:before{
	width: 270px;
	height: 270px;
}
.contacts-inner a{
	line-height: 70px;
	font-size: 42px;
	padding: 0 90px;
	margin-top: 70px;
}
.contacts-inner div:nth-child(3){
	margin: 0 65px;
}
footer{
	font-size: 15px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 45px;
	width: 90px;
	background-size: 90px 45px;
	top: -45px;
	margin-left: -45px;
}
.arrow-up{
	width: 40px;
	height: 20px;
	background-size: 40px 20px;
	top: -19px;
	margin-left: -20px
}