.logo{
	font:166px/100px BrandonText-Medium;
	color: #0a0a38;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.logo:before{
	content: '';
	background: url(../img/ruby_logo.gif) no-repeat center/ 91px;
	height: 120px;
	width: 95px;
	display: inline-block;}
.othr-clr{
	color: #ed3952;
}
.othr-font{
	font: 68px/100px BrandonText-Light;
	display: inline-block;
	position: relative;
}
.menu-main{
	background-size: 295px 100%;
	background-position: right;
}
.menu-main ul{
	margin-bottom: 40px;
}
.menu-main ul li{
	font: 19px/37px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 13px/20px BrandonText-Regular;
}
.services{
	background-size: 120%;
}
.services h2{
	font-size: 34px;
	margin-bottom: 55px;
}

.wrap h2::before{
	width: 262px;
	margin-left: -131px;
	bottom: -44px;
	background-size: 262px;
}
.services{
	padding-top: 140px;
}
.services-content, .services .subs-bl{
	vertical-align: top;
}
.service-type-inf div h3{
	font-size:20px;
	width: 220px;
	margin-bottom: 30px;
}
.service-type-inf div p{
	font-size: 15px;
	line-height: 20px;
	width: 220px;
	margin-bottom: 30px;
}
.services-type > div{
	margin: 55px 0 0;
}
.services-type{
	margin-right: 40px;
	padding-right: 40px;
}
.services-type svg{
	width: 155px;
	height: 190px;
}
.service-type-inf{
	width: 220px;
}
.active-inf{
	width: 220px!important;
}
.services-type > div:first-child .click-bl,
.services-type > div:nth-child(3) .click-bl {
    bottom: 0;
    left: 17px;
}
.services-type > div:nth-child(2) .click-bl {
    left: 18px;
}
.click-bl {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    height: 110px;
    opacity: 0;
    position: absolute;
    width: 110px;
}
.edit-ruby{
	margin: 0px -35px 0 !important;
}

.portfolio{
	padding-top: 140px; 
}
.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10), .portfolio a:nth-child(11){
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.portfolio h2{
	font-size: 34px;
	margin-bottom: 70px;
}
.portfolio-inner{
	vertical-align: top;
}
.our-clients{
	padding-top: 140px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 34px;
	margin-bottom: 75px;
}
.ourc{
	background-image: url(../img/our_C1024.png);
	height: 286px;
}
.contacts{
	padding-top: 120px;
}
.contacts h2{
	font-size: 34px;
	margin-bottom: 75px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 170px;
	width: 170px;
	background-size: 170px;
	margin: 0;
}
.contacts-inner div:before{
	width: 170px;
	height: 170px;
}
.contacts-inner a{
	line-height: 40px;
	font-size: 27px;
	padding: 0 55px;
	margin-top: 50px;
}
.contacts-inner div:nth-child(3){
	margin: 0 40px;
}
footer{
	font-size: 10px;
	line-height: 32px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 30px;
	width: 55px;
	background-size: 55px 30px;
	top: -30px;
	margin-left: -27.5px;
}
.arrow-up{
	width: 27.5px;
	height: 14px;
	background-size: 27.5px 14px;
	top: -14px;
	margin-left: -13.75px
}