.logo{
	font:166px/100px BrandonText-Medium;
	color: #0a0a38;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.logo:before{
	content: '';
	background: url(../img/ruby_logo.gif) no-repeat center/ 91px;
	height: 120px;
	width: 95px;
	display: inline-block;}
.othr-clr{
	color: #ed3952;
}
.othr-font{
	font: 68px/100px BrandonText-Light;
	display: inline-block;
	position: relative;
}
/* .menu-main{
	background-size: 100% 100%;
	background-position: right;
	width: 320px;
}
.menu-main ul{
	margin-bottom: 40px;
}
.menu-main ul li{
	font: 19px/37px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 13px/20px BrandonText-Regular;
} */

.services h2{
	font-size: 38px;
	margin-bottom: 90px;
}

.wrap h2::before{
	width: 280px;
	margin-left: -140px;
	bottom: -57px;
	background-size: 280px;
}
.services{
	padding-top: 140px;
}
.services-content, .services .subs-bl{
	vertical-align: top;
}
.service-type-inf div h3{
	font-size:21px;
	width: 300px;
	margin-bottom: 40px;
}
.service-type-inf div p{
	font-size: 17px;
	line-height: 22px;
	width: 300px;
	margin-bottom: 35px;
}
.services-type > div{
	margin: 60px 0 0;
}
.services-type{
	margin-right: 45px;
	padding-right: 45px;
}
.services-type svg{
	width: 166px;
	height: 209px;
}
.service-type-inf{
	width: 300px;
}
.active-inf{
	width: 300px!important;
}
.services-type > div:first-child .click-bl,
.services-type > div:nth-child(3) .click-bl {
    bottom: 0;
    left: 17px;
}
.services-type > div:nth-child(2) .click-bl {
    left: 18px;
}
.click-bl {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    height: 120px;
    opacity: 0;
    position: absolute;
    width: 120px;
}
.edit-ruby{
	margin: 0px -45px 0 !important;
}
.portfolio{
	padding-top: 145px; 
}
.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10), .portfolio a:nth-child(11){
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.portfolio h2{
	font-size: 38px;
	margin-bottom: 60px;
}
.portfolio-inner{
	vertical-align: top;
}

.our-clients{
	padding-top: 150px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 38px;
	margin-bottom: 75px;
}
.ourc{
	background-image: url(../img/our_C1280.png);
	height: 357px;
}
.contacts{
	padding-top: 150px;
}
.contacts h2{
	font-size: 38px;
	margin-bottom: 75px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 215px;
	width: 215px;
	background-size: 215px;
	margin: 0;
}
.contacts-inner div:before{
	width: 215px;
	height: 215px;
}
.contacts-inner a{
	line-height: 55px;
	font-size: 33px;
	padding: 0 70px;
	margin-top: 40px;
}
.contacts-inner div:nth-child(3){
	margin: 0 50px;
}
footer{
	font-size: 12px;
	line-height: 35px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 35px;
	width: 70px;
	background-size: 70px 35px;
	top: -35px;
	margin-left: -35px;
}
.arrow-up{
	width: 33px;
	height: 17px;
	background-size: 33px 17px;
	top: -16px;
	margin-left: -16.5px
}