.logo{
	font:145px/90px BrandonText-Medium;
	color: #0a0a38;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.logo:before{
	content: '';
	background: url(../img/ruby_logo.gif) no-repeat center/ 79px;
	height: 107px;
	width: 80px;
	display: inline-block;}
.othr-clr{
	color: #ed3952;
}
.othr-font{
	font: 60px/90px BrandonText-Light;
	display: inline-block;
	position: relative;
}
.menu-main{
	background-size: 260px 100%;
	background-position: right;
}
.menu-main ul{
	margin-bottom: 40px;
}
.menu-main ul li{
	font: 15px/30px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 11px/15px BrandonText-Regular;
}
.services{
	background-size: 100% 410px;
}
.services h2{
	font-size: 27px;
	margin-bottom: 42px;
}

.wrap h2::before{
	width: 206px;
	margin-left: -103px;
	bottom: -34px;
	background-size: 206px;
}
.services{
	padding-top: 126px;
}
.services-content, .services .subs-bl{
	vertical-align: top;
}
.service-type-inf div h3{
	font-size:15px;
	width: 220px;
	margin-bottom: 25px;
}
.service-type-inf div p{
	font-size: 12px;
	line-height: 16.5px;
	width: 220px;
	margin-bottom: 25px;
}
.services-type > div{
	margin: 45px 0 0;
}
.services-type{
	margin-right: 30px;
	padding-right: 30px;
}
.services-type svg{
	width: 120px;
	height: 160px;
}
.service-type-inf{
	width: 220px;
}
.active-inf{
	width: 220px!important;
}
.services-type > div:first-child .click-bl,
.services-type > div:nth-child(3) .click-bl {
    bottom: 0;
    left: 17px;
}
.services-type > div:nth-child(2) .click-bl {
    left: 18px;
}
.click-bl {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    height: 90px;
    opacity: 0;
    position: absolute;
    width: 80px;
}
.edit-ruby{
	margin: 0px -30px 0 !important;
}
.portfolio{
	padding-top: 120px; 
}
.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10), .portfolio a:nth-child(11){
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.portfolio h2{
	font-size: 26px;
	margin-bottom: 80px;
}
.portfolio-inner{
	vertical-align: top;
}

.our-clients{
	padding-top: 135px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 27px;
	margin-bottom: 100px;
}
.ourc{
	background-image: url(../img/our_C800.png);
	height: 222px;
}
.contacts{
	padding-top: 126px;
}
.contacts h2{
	font-size: 27px;
	margin-bottom: 55px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 140px;
	width: 140px;
	background-size: 140px;
	margin: 0;
}
.contacts-inner div:before{
	width: 140px;
	height: 140px;
}
.contacts-inner a{
	line-height: 35px;
	font-size: 22px;
	padding: 0 45px;
	margin-top: 30px;
}
.contacts-inner div:nth-child(3){
	margin: 0 35px;
}
footer{
	font-size: 10px;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 30px;
	width: 55px;
	background-size: 55px 30px;
	top: -30px;
	margin-left: -27.5px;
}
.arrow-up{
	width: 27.5px;
	height: 14px;
	background-size: 27.5px 14px;
	top: -14px;
	margin-left: -13.75px
}