.logo{
	font:50px/30px BrandonText-Medium;
	color: #0a0a38;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.logo:before{
	content: '';
	background: url(../img/ruby_logo.gif) no-repeat center/ 30px;
	height: 40px;
	width: 50px;
	display: inline-block;}
.othr-clr{
	color: #ed3952;
}
.othr-font{
	font: 20px/30px BrandonText-Light;
	display: inline-block;
	position: relative;
}
.menu-main{
	background-size: 235px 100%;
	background-position: right;
}
.menu-main ul{
	margin-bottom: 40px;
}
.menu-main ul li{
	font: 17px/30px Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 13px/20px BrandonText-Regular;
}
.services{
	background: #ed3952;
}
.services h2{
	font-size: 16px;
}

.wrap h2::before{
	width: 190px;
	margin-left: -95px;
	bottom: -34px;
	background-size: 190px;
}
.services{
	padding-top: 100px;
}
.services-content, .services .subs-bl{
	vertical-align: top;
}
.service-type-inf div h3{
	font-size: 9px;
	width: 100px;
	margin-bottom: 15px;
}
.service-type-inf div p{
	font-size: 7px;
	line-height: 10px;
	width: 100px;
}
.service-type-inf div p{
	margin-bottom: 11px;
}
.services-type > div{
	margin: 30px 0 0;
}
.services-type{
	margin-right: 20px;
	padding-right: 20px;
}
.services-type svg{
	width: 70px;
	height: 92px;
}
.service-type-inf{
	width: 100px;
}
.active-inf{
	width: 100px!important;
}
.services-type > div:first-child .click-bl,
.services-type > div:nth-child(3) .click-bl {
    bottom: 0;
    left: 17px;
}
.services-type > div:nth-child(2) .click-bl {
    left: 18px;
}
.click-bl {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    height: 54px;
    opacity: 0;
    position: absolute;
    width: 35px;
}
.edit-ruby{
	margin: 0px -20px 0 !important;
}
@media screen and (max-height: 350px) {
	.services h2{
		margin-bottom: 45px;

	}
}

.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10){
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
.portfolio h2{
	font-size: 16px;
	margin-bottom: 55px;
}
.our-clients{
	padding-top: 106px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 16px;
	margin-bottom: 75px;
}
.clients-inner > div{
	width: 33%;
	height: 45px;
	display: inline-block;
	vertical-align: top;
}
.clients-inner > div img{
	width: auto;
	max-height: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}
.ourc{
	background-image: url(../img/our_C320.png);
	height: 163px;
}
.contacts{
	padding-top: 100px;
}
.contacts h2{
	font-size: 16px;
	margin-bottom: 85px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 80px;
	width: 80px;
	background-size: 80px;
	margin: 0;
}
.contacts-inner div:before{
	width: 80px;
	height: 80px;
}
.contacts-inner a{
	font-size: 21px;
	padding: 0 45px;
	line-height: 30px;
}
.contacts-inner div:nth-child(3){
	margin: 0 20px;
}
footer{
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 15px;
	width: 30px;
	background-size: 30px 15px;
	top: -15px;
	margin-left: -15px;
}
.arrow-up{
	width: 15px;
	height: 10px;
	background-size: 15px 10px;
	top: -8px;
	margin-left: -7.5px
}