nav {
	height: 140px;
	background-size: auto 50px;
	padding: 45px 8%;
	background-position: 8% center;
}
.menu-w{
	font-size: 34px;
	margin: 7px 0;
}
.menu-btn{
	width: 72px;
}
.menu-btn div{
	height: 12px;
	width: 72px;
}
.menu-btn div:first-child{
	top: -22px;
}
.menu-btn div:nth-child(3){
	top: 22px;
}
.menu-btn-active div:nth-child(3), .menu-btn-active div:first-child{
	top: 0;
}
.menu-btn span{
	width: 72px;
	height: 72px;
}
.logo{
	font:112px/40px BrandonText-Medium;
	color: #0a0a38;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.logo:before{
	content: '';
	background: url(../img/ruby_logo.gif) no-repeat center/ 60px;
	height: 80px;
	width: 60px;
	display: inline-block;}
.othr-clr{
	color: #ed3952;
}
.othr-font{
	font: 45px/40px BrandonText-Light;
	display: inline-block;
	position: relative;
}
.menu-main{
	background-size: 470px 100%;
	background-position: right;
	background-repeat: no-repeat;
	width: 470px;
	right: -470px;
	padding-right: 8%; 
}
.nav-active{
	background-position: 8% 45px;
}
.menu-main ul{
	margin-bottom: 90px;
}
.menu-main ul li{
	font: 20.32px/2 Bender-Reg;
}
.menu-main a {
    display: inline-block;
    font: 20.32px/30px BrandonText-Regular;
}
.services{
	background: #ed3952;
}
.services h2{
	font-size: 33px;
	margin-bottom: 208px;
}
@media screen and (min-height: 1100px){
	.services h2{
		margin-bottom: 270px;
	}
}
/* .wrap h2::before{
	width: 190px;
	margin-left: -95px;
	bottom: -34px;
	background-size: 190px;
} */
.services{
	padding-top: 180px;
}
.services-content, .services .subs-bl{
	vertical-align: top;
}
.service-type-inf div h3{
	font-size: 17px;
	width: 235px;
	margin-bottom: 25px;
}
.service-type-inf div p{
	font-size: 13px;
	line-height: 17.5px;
	width: 235px;
	margin-bottom: 25px;
}
.services-type > div{
	margin: 46px 0 0;
}
.services-type{
	margin-right: 30px;
	padding-right: 30px;
}
.services-type svg{
	width: 130px;
	height: 170px;
}
.service-type-inf{
	width: 235px;
}
.active-inf{
	width: 235px!important;
}
.services-type > div:first-child .click-bl,
.services-type > div:nth-child(3) .click-bl {
    bottom: 0;
    left: 17px;
}
.services-type > div:nth-child(2) .click-bl {
    left: 18px;
}
.click-bl {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    height: 95px;
    opacity: 0;
    position: absolute;
    width: 90px;
}
.edit-ruby{
	margin: 0px -36px 0 !important;
}

.portfolio{
	padding-top: 185px; 
}
.portfolio a:nth-child(2), .portfolio a:nth-child(3),.portfolio a:nth-child(4),
.portfolio a:nth-child(5),.portfolio a:nth-child(6),.portfolio a:nth-child(7),
.portfolio a:nth-child(8),.portfolio a:nth-child(9),.portfolio a:nth-child(10){
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
.portfolio h2{
	font-size: 33px;
	margin-bottom: 130px;
}
@media screen and (min-height: 1100px){
	.portfolio h2{
		margin-bottom: 210px;
	}
}

.our-clients{
	padding-top: 200px;
}
.clients-inner{
	vertical-align: top;
}
.clients-inner h2{
	font-size: 33px;
	margin-bottom: 252px;
}
.ourc{
	background-image: url(../img/our_C640.png);
	height: 325px;
}
@media screen and (min-height: 1100px){
	.portfolio h2{
		margin-bottom: 210px;
	}
}

.contacts{
	padding-top: 200px;
}
.contacts h2{
	font-size: 33px;
	margin-bottom: 155px;
}
.contacts-inner{
	margin: 0;
	vertical-align: top;
}
.contacts-inner div{
	height: 170px;
	width: 170px;
	background-size: 170px;
	margin: 0;
}
.contacts-inner div:before{
	width: 170px;
	height: 170px;
}
.contacts-inner a{
	line-height: 55px;
	font-size: 35px;
	padding: 0 75px;
	margin-top: 140px;
}
.contacts-inner div:nth-child(3){
	margin: 0 40px;
}
footer{
	font-size: 12px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer:before{
	height: 35px;
	width: 75px;
	background-size: 75px 35px;
	top: -35px;
	margin-left: -37.5px;
}
.arrow-up{
	width: 37.5px;
	height: 18.75px;
	background-size: 37.5px 18.75px;
	top: -15px;
	margin-left: -18.75px
}
@media screen and (min-height: 1100px){
	.contacts{
		padding-top: 180px;
	}
	.contacts h2{
		margin-bottom: 250px;
	}
	.contacts-inner a{
		margin-top: 235px;
	}
}