/* CSS Document */
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-image:0px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a, a:active{
	color:rgba(255,255,255,1.00);
	text-decoration:none;
}
option{
	padding:0;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after, .clear{
    clear: both;
}    
*{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
@font-face {
    font-family: 'BrandonText-Medium';
    src: url('../fonts/BrandonText-Medium.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'BrandonText-Regular';
    src: url('../fonts/BrandonText-regular.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'BrandonText-Light';
    src: url('../fonts/BrandonText-Light.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Bender-Reg';
	src: url('../fonts/2DD1FF_4_0.eot');
	src: url('../fonts/2DD1FF_4_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2DD1FF_4_0.woff2') format('woff2'),
	url('../fonts/2DD1FF_4_0.woff') format('woff'),
	url('../fonts/2DD1FF_4_0.ttf') format('truetype');
}
body,html{
	height: 100%;
	background: #fff;
}
.wrap{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 80px;
	overflow: hidden;
	min-width: 320px;
}
.wrap h2{
	font: 50px/30px Bender-Reg;
	text-align: center;
	display: block;
	text-transform: uppercase;
	margin-bottom: 120px;
	position: relative;
}
.wrap h2:before{
	content: '';
	width: 373px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -68px;
	left: 50%;
	margin-left: -186.5px;
}
nav{
	text-align: right;
	background: url(../img/icon-r.png) #fff no-repeat 4.16% center;
	height: 70px;
	padding: 23px 4.16%;
	position: fixed;
	top: 0;
	width: 100%;
	min-width:320px;
	z-index: 100;
	overflow: hidden;
	border-bottom: 1px solid #ededed;
	
}
nav .menu-main{
	height: 0;
}
.nav-active{
	height: 100%!important;
	background-color:rgba(10,10,56,.7)!important;
	background-position: 4.16% 22.5px;
	background-image: url(../img/icon-r-act.png);
	-webkit-transition:  background-color .5s;
		-moz-transition: background-color .5s;
		-ms-transition: background-color .5s;
		-o-transition: background-color .5s;
		transition: background-color .5s;

}
.menu-main{
	padding: 0 4.16%;
	background-image: url(../img/menu-bckgr.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 435px;
	position: absolute;
	top: 0px;
	height: 100%!important;
	right:-435px;
	font-size: 0;
}
.top70{
	top: 70px;
}
.nav-active .menu-main{
	right: 0;
	-webkit-transition: right cubic-bezier(0.91, 0.01, 0.6, 0.99) .5s;
		-moz-transition: right cubic-bezier(0.91, 0.01, 0.6, 0.99) .5s;
		-ms-transition: right cubic-bezier(0.91, 0.01, 0.6, 0.99) .5s;
		-o-transition: right cubic-bezier(0.91, 0.01, 0.6, 0.99) .5s;
		transition: right cubic-bezier(0.91, 0.01, 0.6, 0.99) .5s;
}
.menu-inner{
	display: inline-block;
	vertical-align: middle;
}
.menu-main ul{
	margin-bottom: 90px;
}
.menu-main ul li{
	color: #fff;
	font:29px/57px Bender-Reg;
	cursor: pointer;
}
.menu-main a{
	display: inline-block;
	font: 20px/30px BrandonText-Regular;
} 
header{
	text-align: center;
	position: relative;
	font-size: 0;
}
.menu-w{
	color: #ed3952;
	font: 17px/1 BrandonText-Medium;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;	
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.nav-active .menu-w{
	color: #fff;
}
.menu-btn{
	display: inline-block;
	vertical-align: middle;
	margin-left: 9.5px;
	cursor: pointer;
	position: relative;
	height: 5px;
	width: 30px;
	position: relative;
	z-index: 10;
}
.menu-btn div{
	cursor: pointer;
	height: 5px;
	width: 35px;
	background: #ed3952;
	position: absolute;
	-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
}
.menu-btn span{
	width: 35px;
	height: 25px;
	cursor: pointer;
	display: block;
	margin-top: -15px;
	position: relative;
	z-index: 2;
}
.menu-btn div:first-child{
	top: -10px;
}
.menu-btn div:nth-child(2){
	background: #0a0a38;
}
.menu-btn div:nth-child(3){
	top: 10px;
}
 .menu-btn-active div:first-child{
	-moz-transform:    matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
     -webkit-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
     -o-transform:      matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
     transform:         matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
	/* transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0) */;
	top: 0;
}
.menu-btn-active div{
	background: #fff;
}
.menu-btn-active div:nth-child(2){
	height: 0;
}
.menu-btn-active div:nth-child(3){
	-moz-transform:    matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
     -webkit-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
     -o-transform:      matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
     transform:         matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
	top: 0;
}
.logo{
	font:200px/112px BrandonText-Medium;
	color: #0a0a38;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}
.logo:before{
	content: '';
	background: url(../img/ruby_logo.gif);
	height: 142px;
	width: 109px;
	display: inline-block;}
.othr-clr{
	color: #ed3952;
}
.othr-font{
	font: 82px/112px BrandonText-Light;
	display: inline-block;
	position: relative;
}
.othr-font:before,.othr-font:after{
	height: 2px;
	width: 600px;
	background: #ed3952;
	position: absolute;
	font-size: 0;
	bottom: 50%;
	content: '';
}
.othr-font:before{
	right: 110%;
}
.othr-font:after{
	left: 110%;
}
.subs-bl{
	width: 1px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.arrow-dwn{
	background: url(../img/arrow-dwn.png);
	height: 23px;
	width: 46px;
	position: absolute;
	bottom: 8%;
	left: 50%;
	margin-left: -22px;
	cursor: pointer;
  -webkit-animation:bounce14 3s infinite;
}


@-webkit-keyframes bounce14 {
  40% {
    bottom:40px;
  }
  60% {
    bottom:30px;
  } 
  0%, 10%, 20%, 30%, 50%, 80%, 90%, 100% {
    bottom:25px;
  }
}


.services{
	text-align: center;
	background: url(../img/serv-bckgr.png) no-repeat left 70px;
	background-size: 100%; 
	padding-top: 20px;
	margin-top: 35px;
}
.services h2{
	margin-bottom: 100px;
}
.pink{
	color: #ed3952;
}
.pink:before{
	background-image: url(../img/h2_ruby_pink.png);
}
.white{
	color: #fff;
}
.white:before{
	background-image: url(../img/h2_ruby_white.png);
}
.services-content{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}
.services-type{
	padding-right: 50px;
	border-right: 2px solid #fff;
	margin-right: 50px;
	display: inline-block;
	vertical-align: top;
}
.service-type-inf{
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	height: 200px;
	width: 400px;

}
.service-type-inf div{
	display: inline-block;
	text-align: left;
	vertical-align: top;
	color: #fff; 
	font-family:Bender-Reg;
	width: 0px;
	opacity: 1;
	-webkit-transition:  1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		overflow: hidden; 
}
.active-inf{
	width: 400px!important;
	-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
}
.service-type-inf div h3{
	font-size: 28px;
	line-height: 1;
	display: block;
	text-align: center;
	margin-bottom: 45px;
	width: 400px;
}
.service-type-inf div p{
	width: 400px;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 30px;
}
.service-type-inf div p:last-child{
	margin: 0;
}

.sevice-ruby{
	stroke:#fff;
}
.ruby-inner-el{
	fill:#fff;
	-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
}
.ruby-bckgr{
	fill:#ed3952;
	-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
}
.services-type >div{
	display: inline-block;
	margin-top: 99px;
	vertical-align: top;
	position: relative;

}
.services-type >div:first-child .click-bl{
	bottom: 0;
	left:60px;
}
.services-type >div:nth-child(2) .click-bl{
	top: 0;
	left:60px;
}
.services-type >div:nth-child(3) .click-bl{
	bottom: 0;
	left:60px;
}
.active-ruby .ruby-inner-el{
	fill:#ed3952;
	-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
}
.click-bl{
	position: absolute;
	background: grey;
	width: 100px;
	height: 180px;
	opacity: 0;
	cursor: pointer;
}
.active-ruby .ruby-bckgr{
	fill:#fff;
	-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
}
.edit-ruby{
	margin:0 -101px 0 -99px!important;
}
.portfolio{
	padding: 75px 0 50px;
	text-align: center;
	font-size: 0;
}
.portfolio h2{
	margin-bottom: 80px;
}
.portfolio-inner{
	display: inline-block;
	vertical-align: bottom;
	font-size: 0;
	width: 100%;
}
.subs-bl{
	width: 0;
}
.portfolio a{
	display: none;
	vertical-align: top;
	border: 0.5px solid rgb(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.portfolio a img{
	width: 100%;
	height: auto;
}
.our-clients{
	font-size: 0;
	text-align: center;
}
.clients-inner{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.clients-inner >div{
	height: 165px;
	width: 415px;
	font-size: 0;
	display: none;
	vertical-align: top;
	position: relative;
}
.clients-inner >div div ,.clients-inner >div img{
	display: inline-block;
	vertical-align: middle;
}
.clients-inner >div div{
	height: 100%;
}

.ourc{
	background-image: url(../img/ourC.png);
	height: 462px;	
	background-repeat: no-repeat;
	background-position: center;
}
.pica2{
padding-left: 1px;
padding-top: 1px;
}
.contacts{
	text-align: center;
	font-size: 0;
}
.contacts h2{
	margin-bottom:80px;
}
.contacts-inner{
	font-size: 0;
	display: inline-block;
	vertical-align: middle;	
	margin-bottom:20px;
}
.contacts-inner div{
	width: 322px;
	height: 322px;
	display: inline-block;
	vertical-align: top;
	border-radius: 200px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	cursor: pointer;
	margin-top: 35px;
}
.contacts-inner div:nth-child(2){
	background-image: url(../img/contacts1.png);
}
.contacts-inner div:nth-child(3){
	background-image: url(../img/contacts2.png);
	margin-left:75px;
	margin-right:75px;
}
.contacts-inner div:nth-child(4){
	background-image: url(../img/contacts3.png);
}
.contacts-inner div:before{
	width: 322px;
	height: 322px;
	border-radius: 200px;
	background: rgba(0,0,0,0);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
}
.contacts-inner div:hover:before{
	background: rgba(0,0,0,.2);
}
.contacts-inner a{
	display: inline-block;
	vertical-align: top;
	margin-top: 70px;
	color: #0a0a38;
	font: 50px/84px Bender-Reg;
	border:3px solid #0a0a38;
	padding: 0 120px;
	border-radius: 50px;
	-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
}
.contacts-inner a:hover{
	background: #0a0a38;
	color: #fff;
}
footer{
	font:18px/60px BrandonText-Regular;
	background: #0a0a38;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
footer:before{
	content: '';
	background: url(../img/footer-triangle.png);
	width: 105px;
	height: 53px;
	position: absolute;
	top: -53px;
	left: 50%;
	margin-left: -52.5px;
}
.arrow-up{
	background: url(../img/arrow-up.png);
	height: 27px;
	width: 53px;
	position: absolute;
	top: -27px;
	left: 50%;
	margin-left: -26.5px;
	cursor: pointer;
}
.Copyright{
	font-weight: bold;
}
.popup{
	background: #fff;
	display: inline-block;
	text-align: center;
	position: relative;
	font: 30px/150px Bender-Reg;
}
.popup span{
	
	color: #ed3952;
	text-transform: uppercase;
	padding: 0 100px;
	border-radius: 5px;
}
.close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.close span{
	width: 25px;
	height: 20px;
	cursor: pointer;
}
.close div{
	position: absolute;
	background: #ed3952;
	height: 6px;
	width: 100%;
	top: 50%;
	margin-top: -3px;
	-webkit-transition:  background-color .5s;
		-moz-transition: background-color .5s;
		-ms-transition: background-color .5s;
		-o-transition: background-color .5s;
		transition: background-color .5s;
}
.close:hover div{
	background: #0a0a38;
}
.close div:first-child{
	transform:rotate(45deg);
}
.close div:nth-child(2){
	transform:rotate(-45deg);
}
/* @media screen and (min-width:760px) and (max-width: 1139px){
	.services-content, .contacts{
		transform:scale(.7,.7);
	}
 	.portfolio a{
 		width: 33.3%;
 	}
 	.portfolio a:nth-child(2), .portfolio a:nth-child(5){
 		border-left: none;
 	}
 	.portfolio a:nth-child(4), .portfolio a:nth-child(7){
 		border-right: none;
 	}
 	.portfolio a:nth-child(2), .portfolio a:nth-child(3), .portfolio a:nth-child(4), .portfolio a:nth-child(5),
 	.portfolio a:nth-child(6), .portfolio a:nth-child(7){
 		display: inline-block;
 	}
}
@media screen and (min-width:1140px) and (max-width: 1659px) {

	.services-content, .logo{
		transform:scale(.9,.9);
	}
 	.portfolio a{
 		width: 25%;
 	}
 	.portfolio a:nth-child(2), .portfolio a:nth-child(6){
 		border-left: none;
 	}
 	.portfolio a:nth-child(5),.portfolio a:nth-child(9){
 		border-right: none;
 	}
 	.portfolio a:nth-child(2), .portfolio a:nth-child(3), .portfolio a:nth-child(4), .portfolio a:nth-child(5),
 	.portfolio a:nth-child(6), .portfolio a:nth-child(7), .portfolio a:nth-child(8), .portfolio a:nth-child(9){
 		display: inline-block;
 	}
}
@media screen and (min-width:1000px) and (max-width:1659px){

	.clients-inner >div:nth-child(2),.clients-inner >div:nth-child(3),.clients-inner >div:nth-child(4),
	.clients-inner >div:nth-child(5),.clients-inner >div:nth-child(6),.clients-inner >div:nth-child(7){
		display: inline-block;	
	}
	.clients-inner >div:nth-child(2):before,
 	.clients-inner >div:nth-child(3):before,
 	.clients-inner >div:nth-child(4):before{
		height: 0px!important;
 	}
 	.clients-inner >div:nth-child(3n+2):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_first_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
 	.clients-inner >div:nth-child(3n+2):after{
		height: 132px;
		background-image: url(../img/dividline_first_right.png);
		background-repeat: repeat-x;
		width: 1.5px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -66px;
		content: '';
	}
	.clients-inner >div:nth-child(3n+3):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_middle_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
	.clients-inner >div:nth-child(3n+3):after{
		height: 132px;
		background-image: url(../img/dividline_midlle_right.png);
		background-repeat: repeat-x;
		width: 1.5px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -66px;
		content: '';
	}
	.clients-inner >div:nth-child(3n+4):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_middle-right_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
 	 .contacts{
 		padding-bottom: 40px;
 	}
 	.contacts-inner{
 		vertical-align: top;
 	}
 	.contacts-inner div{
 		width: 200px;
 		height: 200px;
 		background-size: cover;
 		margin-top: 60px;
 	}
 	.contacts-inner div:before{
 			width: 200px;
 			height: 200px;
 	}
 	.contacts-inner a{
 		font-size: 30px;
 		line-height: 60px;
 		padding: 0 100px;
 		margin-top: 30px;
 	}
 	footer{
 		font: 14px/40px BrandonText-Medium;
 	} 
 	footer:before{
	height: 40px;
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -52.5px;
}
.arrow-up{
	background: url(../img/arrow-up.png);
	height: 20px;
	width: 53px;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -26.5px;
	cursor: pointer;
}

}
@media screen and (min-width:1660px){
	.clients-inner >div{
		display: inline-block;	
	}
	.portfolio h2{
		margin-bottom: 120px;
	}
 	.portfolio a{
 		width: 20%;
 	}
 	.portfolio a:nth-child(2), .portfolio a:nth-child(7){
 		border-left: none;
 	}
 	.portfolio a:nth-child(6), .portfolio a:nth-child(10){
 		border-right: none;
 	}
 	.portfolio a{
 		display: inline-block;
 	}
 	.clients-inner >div:nth-child(2):before,
 	.clients-inner >div:nth-child(3):before,
 	.clients-inner >div:nth-child(4):before,
 	.clients-inner >div:nth-child(5):before{
		height: 0px!important;
 	}
 	.clients-inner >div:nth-child(4n+2):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_first_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
	.clients-inner >div:nth-child(4n+2):after{
		height: 132px;
		background-repeat: repeat-x;
		width: 1.5px;
		background-image: url(../img/dividline_first_right.png);
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -66px;
		content: '';
	}
	.clients-inner >div:nth-child(4n+3):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_middle_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
	.clients-inner >div:nth-child(4n+3):after{
		background-repeat: repeat-x;
		width: 1.5px;
		height: 132px;
		background-image: url(../img/dividline_midlle_right.png);
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -66px;
		content: '';
	}
	.clients-inner >div:nth-child(4n+4):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_middle-right_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
	.clients-inner >div:nth-child(4n+4):after{
		background-repeat: repeat-x;
		width: 1.5px;
		height: 132px;
		background-image: url(../img/dividline_midlle-right_right.png);
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -66px;
		content: '';
	}
	.clients-inner >div:nth-child(4n+5):before{
		content: '';
		width: 377px;
		background-image: url(../img/dividline_last_bottom.png);
		background-repeat: repeat-y;
		height: 1.5px;
		margin-left: -188px;
		top: 0;
		position: absolute;
		left: 50%; 
 	}
 	.contacts{
 		padding-bottom: 60px;
 	}
} */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}




@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(10,10,56,0.8);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#phone{
	background-image: url(http://www2.psd100.com/ppp/2013/10/0501/telephone-icon-1005072219.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#phone:focus{
	background-image: url(http://www2.psd100.com/ppp/2013/10/0501/telephone-icon-1005072219.png);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #ec3852;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #ed3952;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}






.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
/************************ modal*************/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }